* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(92, 13, 13);
    margin-top: 100px;
}

.content-box {
    padding: 20px 0;
    background-color: grey;
    display: flex;
    gap: 70px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(156, 133, 133);
    border-radius: 15px;
}

.card-img-top {
    width: 400px;
    height: 300px;
    border-radius: 15px 15px 0 0;
}

.card-title {
    color: rgb(32, 39, 39);
    margin-bottom: 10px;
    margin-top: 5px;
}

.card-subtitle {
    font-size: 20px;
    margin-bottom: 5px;
}

.card-breed {
    font-size: 15px;
    font-weight: 800;
    color: rgb(11, 120, 66);
    margin-bottom: 5px;
}

.card-content {
    color: #794141;
    margin-bottom: 8px;
}